@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Contoso University</h1>
</div>
<div class="row">
    <div class="col-md-12">
        <h2>Welcome to Contoso University</h2>
        <p>
            Contoso University enrollment maganement application.
        </p>
    </div>
    <div class="col-md-12">
        <img src="~/images/architecture-building-campus-159514.jpg" class =" img-responsive"alt="University Image"/>
    </div>
</div>
